@import "./variables/variables";
@import "./extends/extends";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
// Header
.dropdown-menu {
  padding: 1rem;
  &__item {
    position: relative;
  }
  &__link {
    text-decoration: $text-deco-none;
  }
}
.header {
  background-color: $main-color;
}
.header-content {
  @extend %d-flex;
  padding: 1rem 0;
}
.header-menu {
  &__link {
    text-decoration: $text-deco-none;
  }
  &__list {
    @extend %d-flex;
    gap: 1rem;
  }
}
.logo-title {
  text-decoration: $text-deco-none;
  font-size: 24px;
}
.header{
  .logo-title{
    color:$color-white;
  }
  & .header-menu__link{
    color:$color-light-gray;
  }
  & .dropdown-menu__link{
    color:$main-color;
  }
  & .mobile-device-nav__btn{
    color:$color-light-gray;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    padding: 8px;
  }
  & .mobile-device-nav__btn i{
    font-size: 1rem;
  }
}
.header-menu__item:hover .dropdown-menu{
  display: block !important;
  position: absolute;
  right: 0;
  top: 5px;   
}
// Header ends
// Hero section
#hero{
  background-color: $main-color;
}
.btn-primary {
  @extend %btn;
  background-color: $color-blue;
}
.btn-transparent {
  @extend %btn;
  background-color: transparent;
  border: 1px solid $color-white;
}
.btn-transparent:hover{
  background-color: $color-white;
  color: black;
}
.btn-primary:hover{
  background-color: $color-blue-hover;
}
.hero-img {
  width: 100%;
}
.hero-info {
  &__btns {
    text-decoration: $text-deco-none;
  }
  &__subtitle {
    color: $color-light-gray;
    font-size: 1.1rem;
  }
  &__title {
    color: $color-white;
    font-weight: 700;
  }
}

// Hero ends

// Features
.features-column {
  &__header-title {
    font-weight: 700;
  }
}
.right {
  @extend %d-flex;
  gap:1rem;
}
.right-column {
  width: 48%;
  &__title {
    margin: 1rem 0;
  }
  & i{
    background-color: $color-blue;
    color: $color-white;
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 10px;
  }
}

// Features ends

// Media queries
@media (max-width:576px){
  .btn{
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .header-menu{
    display: none;
  }
  .hero-img-field{
    display: none;
  }
  .right-column{
    width: 100%;
  }
}
